{% extends 'base.html.twig' %}

{% block title %} {{ parent()}} | Nos Services {% endblock %}

{% block body %}

<div class="services">
    <h3 class="services__title">Nos produits</h3>
    <div class="services__products">
        <div class="card">
            <h3>Figurines</h3>
            <div class="card__content">
                <img src="{{ asset('images/figurine-xiao.webp') }}" alt="figurine de xiao">
                <div class="card__content__text">
                    <p>
                        Plongez dans l'univers envoûtant de Genshin Impact avec notre collection exceptionnelle de figurines soigneusement sélectionnées.
                        Chaque pièce est une représentation fidèle des héros et héroïnes emblématiques du jeu,
                        capturant leurs expressions uniques, leurs poses dynamiques et leurs équipements légendaires avec une précision exceptionnelle.
                    </p>
                    <p>
                        Fabriquées avec des matériaux de haute qualité, nos figurines sont des pièces maîtresses durables,
                        conçues pour résister à l'épreuve du temps tout en ajoutant une touche d'élégance à votre collection.
                        Que vous soyez un collectionneur chevronné ou un passionné de Genshin Impact,
                        nos figurines offrent une expérience visuelle saisissante et une opportunité unique de posséder une part du monde fantastique de Teyvat.
                    </p>
                    <p>
                        Explorez notre sélection diversifiée et découvrez des figurines qui donnent vie à vos personnages préférés.
                        Chaque détail méticuleux raconte une histoire, créant une connexion tangible avec l'univers magique de Genshin Impact.
                        Ajoutez une touche d'aventure à votre espace avec ces œuvres d'art extraordinaires qui incarnent la passion et l'essence du jeu.
                        Trouvez votre héros ou héroïne préféré(e) dès maintenant et faites de chaque figurine une célébration de votre amour pour Genshin Impact.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Posters</h3>
            <div class="card__content">
                <div class="card__content__text">
                    <p>
                        Explorez l'éclat visuel de Teyvat avec notre collection exclusive de posters Genshin Impact,
                        soigneusement conçus pour capturer la splendeur de cet univers fantastique.
                        Chaque poster est une œuvre d'art minutieusement illustrée,
                        mettant en scène les personnages emblématiques,
                        les paysages envoûtants et les moments épiques qui ont captivé les joueurs du monde entier.
                        Imprimés avec une qualité exceptionnelle,
                        nos posters évoquent l'esthétique vibrante de Genshin Impact,
                        ajoutant une touche d'aventure et de magie à tout espace.
                    </p>
                    <p>
                        Plongez dans la magie de Teyvat avec notre gamme diversifiée de posters,
                        allant des compositions dynamiques mettant en avant vos héros préférés à des panoramas à couper le souffle des différentes régions du jeu.
                        Que vous soyez un fervent collectionneur de Genshin Impact ou simplement un amateur de belles œuvres,
                        nos posters sont une invitation à décorer votre monde avec l'éclat coloré et la grandeur artistique de cet univers exceptionnel.
                        Transformez votre espace en un sanctuaire de l'aventure avec nos posters Genshin Impact uniques et laissez-vous emporter par la beauté immersive de Teyvat.
                    </p>
                </div>
                <img src="{{ asset('images/genshin-poster.jpg') }}" alt="Poster sur le thème genshin impact">
            </div>
        </div>
        <div class="card">
            <h3>Peluches</h3>
            <div class="card__content">
                <img src="{{ asset('images/peluche-genshin.jpg') }}" alt="Peluches à l'effigie de blob de genshin impact">
                <div class="card__content__text">
                    <p>             
                        Plongez dans la douceur réconfortante de Teyvat avec notre collection exquise de peluches Genshin Impact,
                        créées avec amour pour apporter une touche de chaleur à chaque fan.
                        Chacune de nos peluches incarne fidèlement les adorables personnages du jeu,
                        capturant leurs expressions uniques et leurs détails charmants.
                        Confectionnées avec des matériaux doux de haute qualité,
                        nos peluches offrent une expérience tactile exceptionnelle,
                        invitant les passionnés de Genshin Impact à s'entourer de l'affection de leurs personnages préférés dans le monde réel.
                    </p>
                    <p>
                        Découvrez le réconfort et la joie en câlinant nos peluches,
                        qu'il s'agisse des mascottes bien-aimées comme Paimon ou des héros charismatiques tels que Diluc.
                        Ces peluches sont non seulement de charmants compagnons,
                        mais aussi des pièces de collection uniques qui incarnent l'esprit chaleureux et attachant de Genshin Impact.
                        Offrez-vous ou à vos proches une dose de tendresse avec nos peluches exceptionnelles,
                        et laissez la magie de Teyvat s'installer dans votre quotidien.
                    </p>
                </div>
            </div>
        </div>
        <div class="card">
            <h3>Porte-clés</h3>
            <div class="card__content">
                <div class="card__content__text">
                    <p>
                        Explorez une touche d'aventure quotidienne avec notre collection de porte-clés Genshin Impact,
                        soigneusement conçue pour ajouter une dose de magie à votre routine.
                        Chacun de nos porte-clés est une réplique miniature des emblématiques armes,
                        artefacts et visions présents dans le jeu, vous permettant d'emporter avec vous une partie de l'univers enchanteur de Teyvat où que vous alliez.
                        Fabriqués avec une attention particulière aux détails et des matériaux durables,
                        nos porte-clés sont à la fois des accessoires pratiques et des petits trésors qui rappellent votre passion pour Genshin Impact.
                    </p>
                    <p>
                        Que vous préfériez arborer le symbole distinctif de Mondstadt, l'élégance de Liyue,
                        ou les éléments mystiques qui font la renommée du jeu,
                        nos porte-clés offrent une manière élégante de montrer votre amour pour cet univers captivant.
                        Ajoutez une touche de style personnalisé à vos clés, sacs ou porte-monnaie avec nos porte-clés Genshin Impact,
                        et laissez chaque déplacement être une escapade magique dans le monde coloré et fantastique de Teyvat.
                    </p>
                </div>
                <img src="{{ asset('images/porte-cle-genshin.webp') }}" alt="porte clé à l'effigie de personnages de genshin impact">
            </div>
        </div>
        <div class="card">
            <h3>Voitures</h3>
            <div class="card__content">
                <img src="{{ asset('images/voiture-genshin.jpg') }}" alt="voiture à l'éffigie de barbara">
                <div class="card__content__text">
                    <p>
                        Explorez le monde de Teyvat sur quatre roues avec notre collection exclusive de voitures à l'effigie des personnages emblématiques de Genshin Impact.
                        Chacun de nos modèles uniques incarne le mariage entre le design automobile de qualité supérieure et la magie enchanteresse de l'univers du jeu.
                        Que vous soyez attiré par la silhouette élégante d'un modèle classique ou par l'aventure tout-terrain d'un SUV stylisé,
                        nos voitures à l'effigie de Genshin Impact offrent une expérience de conduite qui transcende les frontières du virtuel pour devenir une réalité palpable.
                    </p>
                    <p>
                        Chaque détail, des finitions intérieures aux caractéristiques de conduite,
                        est pensé pour capturer l'esprit des personnages que vous adorez.
                        Avec notre engagement envers l'authenticité et la qualité,
                        nous invitons les passionnés de Genshin Impact à fusionner leur amour pour le jeu avec leur passion pour les voitures,
                        créant ainsi une expérience de conduite immersive où l'aventure se poursuit même sur la route.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}